@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  }



.pattern {
  position: fixed;
  width: 100vw;
  height: 100vh;

  background-color: #823E37;
  background-image: url('../public/texture.png');
  background-size: 10px 10px;
  background-repeat: repeat;
}